.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.intro {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.search > * {
  padding: 5%;
}

.results-page {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: auto;
}

.body > * {
  width: 100vw;
  height: 100%;
}

.search-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.search-input {
  width: 80%;
}

.search-dropdown {
  width: 20%;
}

.error-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-track-profile {
  display: flex;
  flex-direction: column;
}

.spot-bios {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.spot-bios > *{
  margin:.75em;
}

.spot-learn-more > * {
  margin-left: 1em;
}


@media only screen and (max-width: 600px) {
  .artist-track-bio {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .artist-track-bio > *{
    width: 90%;
  }

  .App {
    font-size:small;
  }

  .artist-track-profile {
    padding: .5em;
  }

  .artist-track-name {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .spot-bios {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
  }

  .search {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .search > * {
    width: 70%;
  }

  .body {
    min-height:90vh;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .artist-track-bio {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .artist-track-bio > *{
    width: 90%;
  }
  .artist-track-profile {
    padding: 1em;
  }

  .artist-track-name {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .search {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .search > * {
    width: 80%;
  }

  .body {
    min-height: 90vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

  .artist-track-bio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .artist-track-bio > *{
    width: 40%;
  }

  .search {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .body {
    height: 90vh;
  }
  
  .search > * {
    width: 40%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

  .artist-track-profile {
    padding: 2em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  

}