.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  flex-wrap: wrap;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: baseline;
  padding:2em;
  background-color: white;
}

.search > * {
  margin-left:5%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  background-color:white;
  overflow: auto;
  padding: 2em;
  height: 90vh;
}

.body > * {
  width:50%;
}


.search-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
